#mkbn{
	overflow: hidden;
	position: relative;
	width: 300px;
	height: 200px;
}

#mkbn ul {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}
#mkbn li {
	color: #fff;
	display: block;
	width: 300px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	float: left;
}